<section id="mk-footer-unfold-spacer"></section>

        <section id="mk-footer" class="" role="contentinfo" itemscope="itemscope"
                 itemtype="https://schema.org/WPFooter">
            <div class="footer-wrapper mk-grid">
                <div class="mk-padding-wrapper">
                    <div class="mk-col-1-2">
                        <section id="text-2" class="widget widget_text">
                            <div class="textwidget">
                                <div class="foo01">PopcornSAR specialized in AUTOSAR<br/>
                                    TEL) 02-568-3068 / Fax) 02-568-3069<br/>
                                    COPYRIGHT ⓒ 2018 PopcornSAR. ALL RIGHT RESERVED.
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="mk-col-1-2">
                        <section id="text-3" class="widget widget_text">
                            <div class="textwidget">
                                <div class="footer001"><a href="?page_id=757">Terms of use</a> | <a href="?page_id=743">Privacy
                                    Policy</a></div>
                            </div>
                        </section>
                    </div>
                    <div class="clearboth"></div>
                </div>
            </div>
        </section>
    </div>
</div>


<style type='text/css'></style>
<style id="mk-shortcode-static-styles" type="text/css">  #padding-5 {
    height: 90px;
}

#text-block-6 {
    margin-bottom: 0px;
    text-align: center;
}

#divider-7 {
    padding: 20px 0 20px;
}

#divider-7 .divider-inner {
    border-top-width: 4px;
    border-top-color: #000000;
    width: 40px
}

#divider-7 .divider-inner:after {
}

#padding-8 {
    height: 30px;
}

#text-block-9 {
    margin-bottom: 0px;
    text-align: left;
}

#text-block-10 {
    margin-bottom: 0px;
    text-align: left;
}

#text-block-11 {
    margin-bottom: 0px;
    text-align: left;
}

#text-block-12 {
    margin-bottom: 0px;
    text-align: left;
}

#divider-13 {
    padding: 20px 0 20px;
}

#divider-13 .divider-inner {
    border-top-width: 1px;
    border-top-color: #dbdbdb;
}

#divider-13 .divider-inner:after {
}

#text-block-14 {
    margin-bottom: 0px;
    text-align: left;
}

#padding-15 {
    height: 10px;
}

.full-width-2 {
    min-height: 100px;
    margin-bottom: 0px;
}

.full-width-2 .page-section-content {
    padding: 10px 0 10px;
}

#background-layer--2 {;
    background-position: left bottom;
    background-repeat: no-repeat;;
}

#background-layer--2 .mk-color-layer {;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.vc_custom_1532016701430 {
}

#padding-19 {
    height: 90px;
}

.full-width-17 {
    min-height: 100px;
    margin-bottom: 0px;
}

.full-width-17 .page-section-content {
    padding: 10px 0 10px;
}

#background-layer--17 {;
    background-position: left bottom;
    background-repeat: no-repeat;;
}

#background-layer--17 .mk-color-layer {;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}</style>
<script type="text/javascript">
    php = {
        hasAdminbar: false,
        json: (null != null) ? null : "",
        jsPath: '${url.resourcesPath}/wp-content/themes/jupiter/assets/js'
    };
</script>
</body>
</html>